[Unit]
Description=Beluganos RIB interface monitor service
After=syslog.target network.target
ConditionPathExists=/etc/beluganos/snmpproxyd.conf

[Service]
Type=simple
EnvironmentFile=/etc/beluganos/snmpproxyd.conf
ExecStart=/usr/bin/snmpifmond --snmpd-addr ${SNMPPROXYD_ADDR} --trap-resend ${IFNOTIFY_RESEND} ${VERBOSE}
User=beluganos
Group=beluganos
Restart=on-abort

[Install]
WantedBy=network.target
