[Unit]
Description=Beluganos initializer
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/sbin/sysctl -p /etc/sysctl.d/30-beluganos.conf

[Install]
WantedBy=network.target
