[Unit]
Description=Beluganos fib initializer
After=syslog.target lxd-containers.service
ConditionPathExists=/etc/beluganos/beluganos.conf

[Service]
Type=simple
ExecStartPre=/bin/chmod 755 /etc/beluganos/beluganos_init.sh
ExecStart=-/etc/beluganos/beluganos_init.sh

[Install]
WantedBy=network.target