[Unit]
Description=NLA
Wants=beluganos.service
After=syslog.target network.target zebra.service beluganos.service
ConditionPathExists=/etc/beluganos/ribxd.conf

[Service]
Type=simple
ExecStart=/usr/bin/nlad -config /etc/beluganos/ribxd.conf
# User=beluganos
# Group=beluganos
Restart=on-abort

[Install]
WantedBy=network.target

