[Unit]
Description=RIB Controller
BindTo=nlad.service
Wants=nlad.service beluganos.service
After=syslog.target network.target nlad.service frr.service
ConditionPathExists=/etc/beluganos/ribxd.conf

[Service]
Type=simple
ExecStart=/usr/bin/ribcd -config /etc/beluganos/ribxd.conf
User=beluganos
Group=beluganos
Restart=on-abort

[Install]
WantedBy=network.target

