[Unit]
Description=GNU Zebra routing manager
After=syslog.target network.target
ConditionPathExists=/etc/quagga/zebra.conf

[Service]
Type=forking
EnvironmentFile=-/etc/quagga/quagga.conf
ExecStartPre=/bin/mkdir -p /var/run/quagga
ExecStartPre=/bin/chown quagga.quagga /var/run/quagga
ExecStartPre=/bin/chmod 755 /var/run/quagga
ExecStartPre=/sbin/ip route flush proto zebra
ExecStart=/usr/lib/quagga/zebra --daemon $ZEBRA_OPTS -f /etc/quagga/zebra.conf
Restart=on-abort

[Install]
WantedBy=network.target

